::selection{
background-color:#474747;
color:white;
}
@font-face {
  font-family: 'Mono';
  src: url('/eastman.ttf');
}
body{
margin:0;
font-family:'Mono';
font-size:1.1em;
min-height:100vh;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  text-decoration: none;
}
nav{
  background: white;
border-bottom:3px solid rgba(0,0,0,0.07);
  height: 50px;
  width: 100%;
position:fixed;
top:0px;
overflow:hidden;
z-index:99999;
}
section{
padding-left:5%;
padding-right:5%;
}
label.logo{
 padding-left:30px;
margin-left:-18px;
  width:40px;
Height:40px;
}
label.logo img{
padding-top:5px;
}
nav ul{
z-index:99999;
  float: right;
  margin-right: 20px;
}
nav ul:last-of-type{
margin-right:10px;
}
nav ul li{
  display: inline-block;
  line-height:50px;
  margin: 0 2px;
  font-weight :bold;
}
nav ul li a{
  color: black;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active,a:hover{
  background: #474747;
color:white!important;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
margin-right:15px!important;
color:black!important;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    margin-right: 40px;
  }
nav ul{
    position: fixed;
z-index:999;
    width: 100%;
    height: 100vh;
    background: white;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.logo img{
width:38.5px;
height:43.5px;
}
h1,h2,h3{
font-family:'Obl';
line-height:1.3;
}
p{
line-height:1.3;
font-size:1.2em;
}
.logobig_div{
width:80vw;
margin:auto;
margin-top:33vh;
}
h1{
font-size:2.05em;
font-weight:regular;
}
body .logobig_div img{
width:80vw;
}
a{
color:#474747;
text-decoration:none;
}
h1,h2,h3{
Color:#474747;
font-family:'Mono';
}
footer{
background-color:#dddddd;
margin-top:80px;
padding:15px;
padding-bottom:7px;
margin-left:-5%;
margin-right:-5%;
line-height:1.8;
}
footer p,footer a{
color:black;
padding-top:1%;
padding-bottom:1%;
font-size:1.05em;
}
.firsth{
text-align:center;
padding-top:23vh;
padding-bottom:0;
font-family:'Korolev';
font-size:5em;
letter-spacing:7px;
font-weight:normal;
text-transform:uppercase;
}
footer a.sociala{
display:inline-block;
margin-top:0px;
margin-left:7.5px;
}
.firsth2{
letter-spacing:20px;
font-size:1em;
padding-top:-10px;
margin-top:-15px;
text-align:center;
font-weight:normal;
text-transform:uppercase;
}
.adv li{
   list-style: none;
}
.adv li:before{
   content: '';
   display: inline-block;
   height: 30px;
   width: 30px;
   background-image: url(/arch/imgli.png);
}
.firsth3{
text-align:center;
padding-top:10px;
padding-bottom:30px;
}
footer a{
color:black;
}
footer a:active, footer a:hover{
color:black;
}
input,textarea{
padding:10px;
border:3px solid #ddd;
width:90vw;
font-family:'Mono';
font-size:1.1em;
margin-top:15px;
}

textarea{
height:200px;
font-family:'Mono';
}
:focus{
outline:none;
}
h2{
font-size:1.85em;
}
.formh{
padding-top:60px;
font-size:1.5em;
padding-bottom:10px;
}
.arrow_div{
height:15vw;
width:15vw;
margin:auto;
margin-top:32vh;
}
.arrow_div img{
height:15vw;
width:15vw;
}
.exh{
text-align:center;
font-size:5.2vw;
}
.formbutton{
border:none;
border:3px solid #474747;
padding:12px;
font-size:1.1em;
margin-top:15px;
background:white;
font-family:'Mono';
transition:all .1s ease-in;
font-weight:bold;
}
.formbutton:hover,.formbutton:focus{
background-color:#474747;
color:white;
}
.cart {
  position: relative;
  width: 50%;
z-index:1;
margin-top:30px;
}

.image {
  opacity: 1;
  display: block;
  width: 90vw;
height:52.5vw;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cart:hover .image {
  opacity: 0.3;
}

.cart:hover .middle {
  opacity: 1;
}

.text {
  width:32vw;
height:10vw;
margin-left:45vw!important;
  color: white;
padding:2vw;
padding-top:3vw;
  font-size:4.35vw;
background-color:#474747;
}
.middle a{
color:white;
}
.avatar img{
width:33.5vw;
height:33.5vw;
border-radius:50%;object-fit: cover;
border:0.7vw solid #474747;
}
.avatar{
object-fit: cover;
width:33.5vw;
height:33.5vw;
float:left;
}
.about_first, .about_second{
font-weight:bolder;
}
.about_first{
padding-top:9.5vw;
font-size:6.3vw;
}
.about_second{
Font-size:4.75vw;
}
.about_p{
float:right;
}
.about{
border-top:0.7vw solid #474747;
border-bottom:0.7vw solid #474747;
width:100vw;
margin-left:-5vw;
margin-bottom:50px;
padding:5.5vw 4.5vw;
    height:46vw;
}
.dop_about{
width:100%;
height:50px;
margin-top:20vh;
}
.about a{
font-weight:bold;
}
.cartmore{
width:43vw;
height:auto;
padding:2.5vw;
margin-top:20px;
background-color:white;
border:3px solid #474747;
transition:all .1s ease-in;
font-size:4vw;
}
.cartmore p{
font-weight:bolder;
text-align:center;
}
.cartmore:hover,.cartmore:focus{
background-color:#474747;
}
.cartmore:hover,.cartmore:focus .cartmore p{
color:white;
}
.sociala:first-of-type{
margin-left:0px;
}
footer p:first-of-type{
font-weight:bold;
}
footer p:last-of-type span{
font-weight:bold;
}
.a{
background:red;
width:100px;
height:100px;
}
.hello{
position:fixed;
background:white;
opacity:1;
position:fixed;
top:0; left:0;
width:100vw;
height:100vh;
}
@media (max-width: 858px){
.exh{
font-size:7vw;
}
}
@media(min-width:858px){
.logobig_div{
width:417.75px;
height:148.25px;
margin-top:15vh;
}
.logobig_div img{
width:417.75px!important;
height:148.25px!important;
}
.arrow_div{
margin-top:20vh;
}
.cartmore{
width:225px;
font-size:1.4em;
margin:0;
margin-top:25px;
}
.formbutton{
width:225px;
font-size:1.4em;
}
}
svg{
width:35px;
height:35px;
margin-top:20px;
}
a:active,a:focus{
color:black;
}