@font-face {
  font-family: 'Manrope';
  src: url('/manrope.otf');
}
@font-face {
  font-family: 'Obl';
  src: url('/obl.otf');
}
::selection{
background-color:#007dfe;
color:white;
}
body{
margin:0;
font-family:'Manrope';
font-size:1.1em;
min-height:100vh;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  text-decoration: none;
}
nav{
  background: white;
border-bottom:3px solid rgba(0,0,0,0.07);
  height: 50px;
  width: 100%;
position:fixed;
top:0px;
z-index:99999;
}
section{
padding-left:5%;
padding-right:5%;
}
label.logo{
  color: #f2f2f2;
  font-size: 33px;
  line-height: 80px;
  padding: 0 140px;
  font-weight: 600;
  
margin-left:-20px;
}
nav ul{
z-index:99999;
  float: right;
  margin-right: 60px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}
nav ul li a{
  color: black;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  /* text-transform: uppercase; */
  font-family: 'Poppins', sans-serif;
}
a.active,a:hover{
  background: #007dfe;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
margin-right:15px!important;
color:#007dfe!important;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    margin-right: 40px;
  }
  ul{
    position: fixed;
z-index:999;
    width: 100%;
    height: 100vh;
    background: white;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.logo img{
width:50px;
height:50px;
}
h1,h2,h3{
font-family:'Obl';
line-height:1.3;
}
p{
line-height:1.3;
}
h1{
font-size:2.4em;
}
.pagename{
padding-top:60px;
}
:focus{
outline:none;
}
p{
font-size:1.2em;
}

a{
color:#007dfe;
text-decoration:none;
}
footer{
background-color:#dddddd;
margin-top:80px;
padding:7.5%!important;
margin-left:-5%;
margin-right:-5%;
float:left;
clear:both;
}
.avatar{
width:150px;
height:150px;
border-radius:50%;object-fit: cover;
}
.avatar_div{object-fit: cover;
width:150px;
height:150px;
margin:auto;
margin-top:20px;
margin-bottom:20px;
}
input[type="submit"]{
margin-top:10px;
border-radius:5px;
background-color:#007dfe;
border:none;
color:white;
font-size:1.2em;
font-family:'Manrope';
padding:3%;
transition:all .3s ease-in;
}
.code input[type="submit"]:last-of-type{
margin-left:10px;
}
input[type="button"]{
margin-top:20px;
border-radius:5px;
margin-left:10px;
background-color:#007dfe;
border:none;
color:white;
font-size:1.2em;
font-family:'Manrope';
padding:3%;
transition:all .3s ease-in;
}
input[type="submit"]:hover,input[type="submit"]:hover{
background-color:#20acfd;
}
.addcode{
border-radius:5px;
background-color:#007dfe;
border:none;
padding:2%;
transition:all .3s ease-in;
float:right;
padding-bottom:1%;
position:absolute;
top:390px;
right:25px;
}
.addcode img{
width:40px;
height:40px;
}
hr{
border:1px solid #dddddd;
background-color:#dddddd:
width:2px;
margin:10px 0;
}
.yfc{
float:left;
}
.code{
float:left;
clear:both;
width:90vw;
}
.code *{
clear:none;
}
.code input[type="submit"]{
float:left;
}
.delyesbtn{
background-color:red!important;
float:left;
margin-left:10px!important;
margin-top:20px!important;
}
.delnobtn{
float:left;
margin-top:30px;
margin-right:5px:
}
.modal {
  /* This way it could be display flex or grid or whatever also. */
  display: none;
  border-radius:10px;
  /* Probably need media queries here */
  width: 65vw;
  max-width: 100%;
  
  height: 110px;
  max-height: 100%;
   -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  
  z-index: 100;
  padding:3%;
  left: 50%;
  top: 45%;
  font-size:0.8em;
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  
  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */
  text-align:center;
  background: white;
}
.modal p{
font-size:1.5em;
}
.changeaccbtn{
border-radius:5px;
margin-left:10px;
background-color:#007dfe;
border:none;
color:white;
font-size:1.2em;
font-family:'Manrope';
padding:3%;
transition:all .3s ease-in;
float:right;
margin-top:50px;
}
.delbtn{
border-radius:5px;
background-color:red;
border:none;
color:white;
font-size:1.2em;
font-family:'Manrope';
padding:3%;
transition:all .3s ease-in;
float:left;
clear:both;
margin-top:50px;
}
.signout{
float:left;
clear:both;
margin-left:0px;
margin-top:50px!important;
}
.crl{
margin-top:20px;
}
.red{
color:white;
padding:2.5%;
border-radius:7.5px;
background-color:#fe4444;
}
.usern{
padding-top:10px;
}
footer p{
padding-top:1%;
padding-bottom:1%;
}
